In [53]:
from csv import reader
import pandas as pd
import statistics
import numpy as np
import helper_functions as hf
from datetime import datetime

#clean data inside dataFrame, and treate data


def cleanCarDataSet():
    
    data = hf.readDataset()
    # fill missing data
    print("Treating missing values")
    data["model"].fillna('Unknown', inplace=True)
    data["gear"].fillna('Unknown', inplace=True)
    data["hp"].fillna('0', inplace=True)

    #drop rows that are duplicates
    print("Duplicate Rows :")
    print(data.duplicated())
    print(data.duplicated().sum())
    print("Removing duplicates....")
    data.drop_duplicates(inplace=True)
    print(data.duplicated().sum())
    print("Duplicates removed successfully!")

    print("Dataset column type definition in process...\n")

    # fill missing data and transforming data addin , at thousand seperator
    #data['millage'] = f'{data['millage']:,}'

    print("Dataset has successfully gone into the proccess of cleaning.\n")

    return data

In [54]:
cleanCarDataSet()

Treating missing values
Duplicate Rows :
0        False
1        False
2        False
3        False
4        False
         ...
46400     True
46401     True
46402     True
46403     True
46404     True
Length: 46405, dtype: bool
2140
Removing duplicates....
0
Duplicates removed successfully!
Dataset column type definition in process...

Dataset has successfully gone into the proccess of cleaning.

,mileage,make,model,fuel,gear,offerType,price,hp,year
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
...,...,...,...,...,...,...,...,...,...
46394,10,Citroen,C1,Gasoline,Manual,Pre-registered,12340,72.0,2021
46396,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12490,71.0,2021
46397,550,Fiat,500,Electric/Gasoline,Manual,Demonstration,12805,69.0,2021
46398,837,Fiat,Panda,Electric/Gasoline,Manual,Demonstration,12805,69.0,2021
46399,1500,Skoda,Fabia,Gasoline,Manual,Demonstration,12980,60.0,2021

In [43]:
data = hf.readDataset()
#We check if we have both unkonwn values in make and model, because they'd be useless for us
sameMakeAndModel = data['make'] == data['model']
print(sameMakeAndModel)
sameMakeAndModel[sameMakeAndModel.astype(str).str.contains('True') ]

0        False
1        False
2        False
3        False
4        False
         ...
46400    False
46401    False
46402    False
46403    False
46404    False
Length: 46405, dtype: bool

Series([], dtype: bool)