In [26]:
import pandas as pd
import numpy as np
import _task1 as _task1
import time
import helper_functions as hf

In [27]:
def reductionAndSubset():
    ### READ IN THE 3 DATA SETS ###
    # dataset containing some information on atuoscout240-data/manufacture from the files
    dataset = _task1.preProcessingOfData()
    print("The Shape of Dataset:")
    print(dataset.shape)
    print("Dataset type usage description:")
    print(dataset.describe(exclude='number'))

In [28]:
reductionAndSubset()

=> Take a look at the first few rows
   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011
mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
year           0
dtype: int64


=> Header tbl:  mileage(analysed before), make,   model,  fuel,  gear, offerType,  price,   hp,  year
0    False
1    False
2    False
3    False
4    False
Name: make, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: model, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: fuel, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: gear, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: offerType, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: price, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: hp, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: year, dtype: bool
0        235000
1         92800
2        149300
3         96200
4        156000
          ...
46400        99
46401        99
46402        99
46403        99
46404        99
Name: mileage, Length: 46405, dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
46400    False
46401    False
46402    False
46403    False
46404    False
Name: mileage, Length: 46405, dtype: bool
0    False
1    False
2    False
3    False
4    False
Name: mileage, dtype: bool


Filling a null values using fillna
Using dropna() function
=> Take a look at the first few rows
   mileage        mark   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011
mileage      0
mark         0
model        0
fuel         0
gear         0
offerType    0
price        0
hp           0
year         0
dtype: int64


Old data frame length: 46405
New data frame length: 46376
Number of rows with at least 1 NA value:  29
The Shape of Dataset:
(46376, 9)
Dataset type usage description:
              mark  model      fuel    gear offerType
count        46376  46376     46376   46376     46376
unique          77    841        11       3         5
top     Volkswagen   Golf  Gasoline  Manual      Used
freq          6931   1492     28850   30543     40103

In [29]:
#Uniform Manifold Approximation and Projection (UMAP)
def uniformedApproximationAndProjection():
    dataset = _task1.preProcessingOfData()

    print("Data Reduction started for Main Data Set.")
    wanted_data_volume = ['mark', 'model','fuel','gear','offerType']
    print("Dimensionality reduction.")
    print(f"Wanted columns:\n {wanted_data_volume}")
    print("Data Reduction has been successfully reducted.\n")
    dataset = dataset[list(wanted_data_volume)]

    print("Subset Properties \nDropping same row vaules of new subset...")
    dataset = dataset.drop_duplicates(subset=wanted_data_volume,keep=False)

    print("Showing up the subset...")
    dataset.rename(columns={'DisplayName': 'Subset'},inplace=True)
    print(dataset)

filter = "COUNT > 500"
field_properties = "Field1 FLOAT true;Field2 STRING true;Field3 DOUBLE true"
file_extenstion = "csv"
has_header_row = True
file_encoding = "UTF-8"

=> Take a look at the first few rows
   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011
mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
year           0
dtype: int64


=> Header tbl:  mileage(analysed before), make,   model,  fuel,  gear, offerType,  price,   hp,  year
0    False
1    False
2    False
3    False
4    False
Name: make, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: model, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: fuel, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: gear, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: offerType, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: price, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: hp, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: year, dtype: bool
0        235000
1         92800
2        149300
3         96200
4        156000
          ...
46400        99
46401        99
46402        99
46403        99
46404        99
Name: mileage, Length: 46405, dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
46400    False
46401    False
46402    False
46403    False
46404    False
Name: mileage, Length: 46405, dtype: bool
0    False
1    False
2    False
3    False
4    False
Name: mileage, dtype: bool


Filling a null values using fillna
Using dropna() function
=> Take a look at the first few rows
   mileage        mark   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011
mileage      0
mark         0
model        0
fuel         0
gear         0
offerType    0
price        0
hp           0
year         0
dtype: int64


Old data frame length: 46405
New data frame length: 46376
Number of rows with at least 1 NA value:  29
Data Reduction started for Main Data Set.
Dimensionality reduction.
Wanted columns:
 ['mark', 'model', 'fuel', 'gear', 'offerType']
Data Reduction has been successfully reducted.

Subset Properties
Dropping same row vaules of new subset...
Showing up the subset...
                mark    model               fuel       gear       offerType
18              Fiat   Sedici             Diesel     Manual            Used
184             Audi       A7  Electric/Gasoline  Automatic            Used
286            Honda    Civic         -/- (Fuel)     Manual            Used
303            Skoda    Fabia         -/- (Fuel)     Manual            Used
307            smart  forFour           Gasoline  Automatic   Demonstration
...              ...      ...                ...        ...             ...
46349  Mercedes-Benz  GLE 350             Diesel  Automatic  Employee's car
46352         Alpina       B3           Gasoline  Automatic   Demonstration
46362         Nissan    NV250             Diesel     Manual            Used
46363         Nissan    Micra           Gasoline  Automatic   Demonstration
46384         Nissan    NV300             Diesel  Automatic  Employee's car

[1053 rows x 5 columns]