In [ ]:
#pip install ydata-quality

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import helper_functions as hf

# Importing the class called SimpleImputer from impute model in sklearn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

#2. 
import _task1 as _task1
import _task2 as _task2 
from ydata_quality import DataQuality

In [2]:
# ==================================================================

#	1.	Para-procesimi për pregaditjen e të dhënave për analizë

# Define Data Types for dataset
_task1.preProcessingOfData()




# ==================================================================

=> Take a look at the first few rows
   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011
mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
year           0
dtype: int64


=> Header tbl:  mileage(analysed before), make,   model,  fuel,  gear, offerType,  price,   hp,  year
0    False
1    False
2    False
3    False
4    False
Name: make, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: model, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: fuel, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: gear, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: offerType, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: price, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: hp, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: year, dtype: bool
0        235000
1         92800
2        149300
3         96200
4        156000
          ...
46400        99
46401        99
46402        99
46403        99
46404        99
Name: mileage, Length: 46405, dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
46400    False
46401    False
46402    False
46403    False
46404    False
Name: mileage, Length: 46405, dtype: bool
0    False
1    False
2    False
3    False
4    False
Name: mileage, dtype: bool


Filling a null values using fillna
Using dropna() function
=> Take a look at the first few rows
   mileage        mark   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011
mileage      0
mark         0
model        0
fuel         0
gear         0
offerType    0
price        0
hp           0
year         0
dtype: int64


Old data frame length: 46405
New data frame length: 46376
Number of rows with at least 1 NA value:  29

,mileage,mark,model,fuel,gear,offerType,price,hp,year
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
...,...,...,...,...,...,...,...,...,...
46400,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46401,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46402,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46403,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46404,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021

In [3]:
# ==================================================================

#	2. Mbledhja e të dhënave, definimi i tipeve të të dhënave,kualiteti i të dhënave.

# Define Data Types for dataset
_task2.defineDataTypesFunc()




# ==================================================================

=> Take a look at the first few rows
   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011
mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
year           0
dtype: int64


=> Header tbl:  mileage(analysed before), make,   model,  fuel,  gear, offerType,  price,   hp,  year
0    False
1    False
2    False
3    False
4    False
Name: make, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: model, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: fuel, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: gear, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: offerType, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: price, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: hp, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: year, dtype: bool
0        235000
1         92800
2        149300
3         96200
4        156000
          ...
46400        99
46401        99
46402        99
46403        99
46404        99
Name: mileage, Length: 46405, dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
46400    False
46401    False
46402    False
46403    False
46404    False
Name: mileage, Length: 46405, dtype: bool
0    False
1    False
2    False
3    False
4    False
Name: mileage, dtype: bool


Filling a null values using fillna
Using dropna() function
=> Take a look at the first few rows
   mileage        mark   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011
mileage      0
mark         0
model        0
fuel         0
gear         0
offerType    0
price        0
hp           0
year         0
dtype: int64


Old data frame length: 46405
New data frame length: 46376
Number of rows with at least 1 NA value:  29
Contents of the Dataframe :
       mileage  make   model               fuel    gear       offerType  \
0       235000   NaN     316             Diesel  Manual            Used
1        92800   NaN    Golf           Gasoline  Manual            Used
2       149300   NaN    Exeo           Gasoline  Manual            Used
3        96200   NaN  Megane           Gasoline  Manual            Used
4       156000   NaN     308           Gasoline  Manual            Used
...        ...   ...     ...                ...     ...             ...
46400       99   NaN     500  Electric/Gasoline  Manual  Pre-registered
46401       99   NaN     500  Electric/Gasoline  Manual  Pre-registered
46402       99   NaN     500  Electric/Gasoline  Manual  Pre-registered
46403       99   NaN     500  Electric/Gasoline  Manual  Pre-registered
46404       99   NaN     500  Electric/Gasoline  Manual  Pre-registered

       price     hp  year
0       6800  116.0  2011
1       6877  122.0  2011
2       6900  160.0  2011
3       6950  110.0  2011
4       6950  156.0  2011
...      ...    ...   ...
46400  12990   71.0  2021
46401  12990   71.0  2021
46402  12990   71.0  2021
46403  12990   71.0  2021
46404  12990   71.0  2021

[46376 rows x 9 columns]
*** Get the Data type of each column in Dataframe ***
Data type of each column of Dataframe :
mileage        int64
make         float64
model         object
fuel          object
gear          object
offerType     object
price          int64
hp           float64
year           int64
dtype: object
Data type of each column of Dataframe :
{'mileage': dtype('int64'), 'make': dtype('float64'), 'model': dtype('O'), 'fuel': dtype('O'), 'gear': dtype('O'), 'offerType': dtype('O'), 'price': dtype('int64'), 'hp': dtype('float64'), 'year': dtype('int64')}
*** Get the Data type of a single column in Dataframe ***
Data type of each column Price in the Dataframe :
int64

*** Check if Data type of a column is int64 or object etc in Dataframe ***
Data type of column 'Age' is int64
Data type of column 'hp' is float
Change the data types for multiple fields to boolean

Determine count of unique values for each column in the dataframe
mileage      20106
mark            77
model          841
fuel            11
gear             3
offerType        5
price         6665
hp             328
year            11
dtype: int64

*** Get the Data type of each column in Dataframe using info() ***
<class 'pandas.core.frame.DataFrame'>
Int64Index: 46376 entries, 0 to 46404
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mileage    46376 non-null  int64
 1   make       0 non-null      string
 2   model      46376 non-null  string
 3   fuel       46376 non-null  string
 4   gear       46376 non-null  string
 5   offerType  46376 non-null  string
 6   price      46376 non-null  int64
 7   hp         46376 non-null  float64
 8   year       46376 non-null  int64
dtypes: float64(1), int64(3), string(5)
memory usage: 3.5 MB

,mileage,mark,model,fuel,gear,offerType,price,hp,year
0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011
...,...,...,...,...,...,...,...,...,...
46400,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46401,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46402,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46403,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021
46404,99,Fiat,500,Electric/Gasoline,Manual,Pre-registered,12990,71.0,2021