In [110]:
import numpy as np
import matplotlib.pyplot as plt
import helper_functions as hf

# Importing the class called SimpleImputer from impute model in sklearn
from sklearn.impute import SimpleImputer

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [111]:
dataset = hf.readDataset()

In [112]:
print(dataset.isnull().sum())

# Take a look at the first few rows
print(dataset.head())

mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
year           0
dtype: int64
   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

In [113]:
print(dataset['mileage'])
print(dataset['mileage'].isnull())
print(dataset['mileage'].isnull().head())

0        235000
1         92800
2        149300
3         96200
4        156000
          ...
46400        99
46401        99
46402        99
46403        99
46404        99
Name: mileage, Length: 46405, dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
46400    False
46401    False
46402    False
46403    False
46404    False
Name: mileage, Length: 46405, dtype: bool
0    False
1    False
2    False
3    False
4    False
Name: mileage, dtype: bool

In [114]:
#header tbl:  mileage(analysed before), make,   model,  fuel,  gear, offerType,  price,   hp,  year
print(
    dataset['make'].isnull().head(),
    dataset['model'].isnull().head(),
    dataset['fuel'].isnull().head(),
    dataset['gear'].isnull().head(),
    dataset['offerType'].isnull().head(),
    dataset['price'].isnull().head(),
    dataset['hp'].isnull().head(),
    dataset['year'].isnull().head(),
)

0    False
1    False
2    False
3    False
4    False
Name: make, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: model, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: fuel, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: gear, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: offerType, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: price, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: hp, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: year, dtype: bool