In [9]:
import numpy as np
import helper_functions as hf
import _task1 as _task1
from csv import reader

def integrationAndaggregationFunc():
    ### READ IN THE 3 DATA SETS ###
    # dataset containing some information on atuoscout240-data/manufacture from the files
    dataset = _task1.preProcessingOfData()
    # dataset containing information on returned orders
    #returns = pd.read_excel('autoscout24-germany-dataset-merged.csv')
    # dataset containing information on the managers for each region in the orders dataset
    brands =  hf.readManufacturers()
    datasetDfObj = pd.DataFrame(brands, columns=[ 'mark','country','year'])
    datasetDfObj=datasetDfObj.astype({'mark': 'string', 'country': 'string', 'year':'int64'})

    ###  Merge the datasets together ###

    ###  Merge the datasets together ###
    print('--------------------MERGING DATA-------------------------')

    merged_df = (dataset.merge(brands, how='left', on='mark').merge(brands, how='left', on='country'))
    merged_df.to_csv('autoscout24-germany-dataset-merged.csv', index=False)

    print('Merged data output to data/output_data/merged_data.csv')
    print('---------------------------------------------------------')

    ### FILTERING EXAMPLES ###
    print('----------FILTERING EXAMPLE 1: NOT RETURNED--------------')

    #not_returned_df = merged_df.loc[merged_df['country'].isna(), :]
    not_returned_df=merged_df.dropna()

    #not_returned_df.to_csv('autoscout24-germany-dataset-merged-filtered.csv', index=False)

    print('Result output to autoscout24-germany-dataset-merged-filtered.csv')
    print('---------------------------------------------------------')



    ### AGGREGATION?GROUPBY EXAMPLES ###

    print('----------AGGREGATION EXAMPLE 1: MEAN()-----------------')

    agg_example_1 = not_returned_df.groupby(by='country')['price'].mean()

    print(agg_example_1)

    print('---------------------------------------------------------')


    print('------------AGGREGATION EXAMPLE 2: AGG()-----------------')

    agg_example_2 = not_returned_df.groupby(by='country').agg({'mileage':'mean','year':'median'})

    print(agg_example_2)

    print('---------------------------------------------------------')
    
    #clean data inside dataFrame, and treate data


def cleanCarDataSet():
    data = hf.readDataset()
    # fill missing data
    print("Treating missing values")
    data["model"].fillna('Unknown', inplace=True)
    data["gear"].fillna('Unknown', inplace=True)
    data["hp"].fillna('0', inplace=True)

    #drop rows that are duplicates
    print("Duplicate Rows :")
    print(data.duplicated())
    print(data.duplicated().sum())
    print("Removing duplicates....")
    data.drop_duplicates(inplace=True)
    print(data.duplicated().sum())
    print("Duplicates removed successfully!")

    print("Dataset column type definition in process...\n")
    # defining column types: mileage,make,model,fuel,gear,offerType,price,hp,year
    data['mileage'] = data['mileage'].astype(float)
    data['make'] = data['make'].astype("string")
    data['model'] = data['model'].astype("string")
    data['fuel'] = data['fuel'].astype("string")
    data['gear'] = data['gear'].astype("string")
    data['offerType'] = data['model'].astype("string")
    data['price'] = data['mileage'].astype(float)
    data['hp'] = data['mileage'].astype(int)
    data['year'] = data['fuel'].astype("string")

    # fill missing data and transforming data addin , at thousand seperator
    #data['millage'] = f'{data['millage']:,}'

    print("Dataset has successfully gone into the proccess of cleaning.\n")

    return data

cleanCarDataSet()

data = hf.readDataset()
#We check if we have both unkonwn values in make and model, because they'd be useless for us
sameMakeAndModel = data['make'] == data['model']
print(sameMakeAndModel)
sameMakeAndModel[sameMakeAndModel.astype(str).str.contains('True') ]

Treating missing values
Duplicate Rows :
0        False
1        False
2        False
3        False
4        False
         ...
46400     True
46401     True
46402     True
46403     True
46404     True
Length: 46405, dtype: bool
2140
Removing duplicates....
0
Duplicates removed successfully!
Dataset column type definition in process...

Dataset has successfully gone into the proccess of cleaning.

0        False
1        False
2        False
3        False
4        False
         ...
46400    False
46401    False
46402    False
46403    False
46404    False
Length: 46405, dtype: bool

Series([], dtype: bool)

In [8]:
integrationAndaggregationFunc()

=> Take a look at the first few rows
   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011
mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
year           0
dtype: int64


=> Header tbl:  mileage(analysed before), make,   model,  fuel,  gear, offerType,  price,   hp,  year
0    False
1    False
2    False
3    False
4    False
Name: make, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: model, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: fuel, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: gear, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: offerType, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: price, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: hp, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: year, dtype: bool
0        235000
1         92800
2        149300
3         96200
4        156000
          ...
46400        99
46401        99
46402        99
46403        99
46404        99
Name: mileage, Length: 46405, dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
46400    False
46401    False
46402    False
46403    False
46404    False
Name: mileage, Length: 46405, dtype: bool
0    False
1    False
2    False
3    False
4    False
Name: mileage, dtype: bool


Filling a null values using fillna
Using dropna() function
=> Take a look at the first few rows
   mileage        mark   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011
mileage      0
mark         0
model        0
fuel         0
gear         0
offerType    0
price        0
hp           0
year         0
dtype: int64


Old data frame length: 46405
New data frame length: 46376
Number of rows with at least 1 NA value:  29
--------------------MERGING DATA-------------------------
Merged data output to data/output_data/merged_data.csv
---------------------------------------------------------
----------FILTERING EXAMPLE 1: NOT RETURNED--------------
Result output to autoscout24-germany-dataset-merged-filtered.csv
---------------------------------------------------------
----------AGGREGATION EXAMPLE 1: MEAN()-----------------
country
Germany     23076.256773
Italy      315779.950000
Japan       12790.292887
Sweden      31033.517413
UK          68169.046053
USA         14170.680527
Name: price, dtype: float64
---------------------------------------------------------
------------AGGREGATION EXAMPLE 2: AGG()-----------------
              mileage    year
country
Germany  84642.875479  2016.0
Italy    19045.850000  2016.0
Japan    82728.313808  2016.0
Sweden   67107.405473  2016.0
UK       47887.263158  2016.0
USA      69455.363524  2016.0
---------------------------------------------------------

In [10]:
cleanCarDataSet()

Treating missing values
Duplicate Rows :
0        False
1        False
2        False
3        False
4        False
         ...
46400     True
46401     True
46402     True
46403     True
46404     True
Length: 46405, dtype: bool
2140
Removing duplicates....
0
Duplicates removed successfully!
Dataset column type definition in process...

Dataset has successfully gone into the proccess of cleaning.

,mileage,make,model,fuel,gear,offerType,price,hp,year
0,235000.0,BMW,316,Diesel,Manual,316,235000.0,235000,Diesel
1,92800.0,Volkswagen,Golf,Gasoline,Manual,Golf,92800.0,92800,Gasoline
2,149300.0,SEAT,Exeo,Gasoline,Manual,Exeo,149300.0,149300,Gasoline
3,96200.0,Renault,Megane,Gasoline,Manual,Megane,96200.0,96200,Gasoline
4,156000.0,Peugeot,308,Gasoline,Manual,308,156000.0,156000,Gasoline
...,...,...,...,...,...,...,...,...,...
46394,10.0,Citroen,C1,Gasoline,Manual,C1,10.0,10,Gasoline
46396,99.0,Fiat,500,Electric/Gasoline,Manual,500,99.0,99,Electric/Gasoline
46397,550.0,Fiat,500,Electric/Gasoline,Manual,500,550.0,550,Electric/Gasoline
46398,837.0,Fiat,Panda,Electric/Gasoline,Manual,Panda,837.0,837,Electric/Gasoline
46399,1500.0,Skoda,Fabia,Gasoline,Manual,Fabia,1500.0,1500,Gasoline