In [39]:
import pandas as pd
import numpy as np
import helper_functions as hf
import _task1 as _task1
from ydata_quality import DataQuality
import time


def special_offer(discount):
    if discount > 0.5:
        return 1
    else:
        return 0

In [40]:
### READ IN THE 3 DATA SETS ###
# dataset containing some information on orders/sales from the store
dataset = _task1.preProcessingOfData()
# dataset containing information on returned orders
#returns = pd.read_excel('autoscout24-germany-dataset-merged.csv')
# dataset containing information on the managers for each region in the orders dataset
brands =  hf.readManufacturers()
datasetDfObj = pd.DataFrame(brands, columns=[ 'mark','country','year'])
datasetDfObj=datasetDfObj.astype({'mark': 'string', 'country': 'string', 'year':'int64'})

###  Merge the datasets together ###

=> Take a look at the first few rows
   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011
mileage        0
make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
year           0
dtype: int64


=> Header tbl:  mileage(analysed before), make,   model,  fuel,  gear, offerType,  price,   hp,  year
0    False
1    False
2    False
3    False
4    False
Name: make, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: model, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: fuel, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: gear, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: offerType, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: price, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: hp, dtype: bool 0    False
1    False
2    False
3    False
4    False
Name: year, dtype: bool
0        235000
1         92800
2        149300
3         96200
4        156000
          ...
46400        99
46401        99
46402        99
46403        99
46404        99
Name: mileage, Length: 46405, dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
46400    False
46401    False
46402    False
46403    False
46404    False
Name: mileage, Length: 46405, dtype: bool
0    False
1    False
2    False
3    False
4    False
Name: mileage, dtype: bool


Filling a null values using fillna
Using dropna() function
=> Take a look at the first few rows
   mileage        mark   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011
mileage      0
mark         0
model        0
fuel         0
gear         0
offerType    0
price        0
hp           0
year         0
dtype: int64


Old data frame length: 46405
New data frame length: 46376
Number of rows with at least 1 NA value:  29

In [43]:

###  Merge the datasets together ###
print('--------------------MERGING DATA-------------------------')

merged_df = (dataset.merge(brands, how='left', on='mark').merge(brands, how='left', on='country'))
merged_df.to_csv('autoscout24-germany-dataset-merged.csv', index=False)

print('Merged data output to data/output_data/merged_data.csv')
print('---------------------------------------------------------')

--------------------MERGING DATA-------------------------
Merged data output to data/output_data/merged_data.csv
---------------------------------------------------------

In [44]:

### FILTERING EXAMPLES ###
print('----------FILTERING EXAMPLE 1: NOT RETURNED--------------')


print('Result output to autoscout24-germany-dataset-merged.csv')
print('---------------------------------------------------------')

print('----------FILTERING EXAMPLE 2: NOT RETURNED IN JAX--------------')

not_returned_jax = merged_df.loc[(merged_df['country'].isna()),:]

#not_returned_jax = merged_df.loc[(merged_df['country'].isna()) & (merged_df['year_y'] ==merged_df['year_x'] ), :]

not_returned_jax.to_csv('autoscout24-germany-dataset-merged-filtered.csv', index=False)

print('Result output to autoscout24-germany-dataset-merged-filtered.csv')
print('----------------------------------------------------------------')

----------FILTERING EXAMPLE 1: NOT RETURNED--------------
Result output to autoscout24-germany-dataset-merged.csv
---------------------------------------------------------
Result output to autoscout24-germany-dataset-merged-filtered.csv
----------------------------------------------------------------

In [42]:


### AGGREGATION?GROUPBY EXAMPLES ###


print('----------AGGREGATION EXAMPLE 1: MEAN()-----------------')

agg_example_1 = not_returned_df.groupby(by='country')['mark'].mean()

print(agg_example_1)

print('---------------------------------------------------------')


print('------------AGGREGATION EXAMPLE 2: AGG()-----------------')

agg_example_2 = not_returned_df.groupby(by='country').agg({'mark':'mean',
                                            'price':'median'})

print(agg_example_2)

print('---------------------------------------------------------')

----------AGGREGATION EXAMPLE 1: MEAN()-----------------

KeyError: 'Column not found: mark'