In [51]:
from csv import reader
import pandas as pd
import statistics
import numpy as np
import helper_functions as hf
from datetime import datetime

#clean data inside dataFrame, and treate data


def cleanCarDataSet():
    
    data = hf.readDataset()
    # fill missing data
    print("Treating missing values")
    data["model"].fillna('Unknown', inplace=True)
    data["gear"].fillna('Unknown', inplace=True)
    data["hp"].fillna('0', inplace=True)

    #drop rows that are duplicates
    print("Duplicate Rows :")
    print(data.duplicated())
    print(data.duplicated().sum())
    print("Removing duplicates....")
    data.drop_duplicates(inplace=True)
    print(data.duplicated().sum())
    print("Duplicates removed successfully!")

    print("Dataset column type definition in process...\n")
    # defining column types: mileage,make,model,fuel,gear,offerType,price,hp,year
    data['mileage'] = data['mileage'].astype(float)
    data['make'] = data['make'].astype("string")
    data['model'] = data['model'].astype("string")
    data['fuel'] = data['fuel'].astype("string")
    data['gear'] = data['gear'].astype("string")
    data['offerType'] = data['model'].astype("string")
    data['price'] = data['mileage'].astype(float)
    data['hp'] = data['mileage'].astype(int)
    data['year'] = data['fuel'].astype("string")

    # fill missing data and transforming data addin , at thousand seperator
    #data['millage'] = f'{data['millage']:,}'

    print("Dataset has successfully gone into the proccess of cleaning.\n")

    return data

In [52]:
cleanCarDataSet()

Treating missing values
Duplicate Rows :
0        False
1        False
2        False
3        False
4        False
         ...
46400     True
46401     True
46402     True
46403     True
46404     True
Length: 46405, dtype: bool
2140
Removing duplicates....
0
Duplicates removed successfully!
Dataset column type definition in process...

Dataset has successfully gone into the proccess of cleaning.

,mileage,make,model,fuel,gear,offerType,price,hp,year
0,235000.0,BMW,316,Diesel,Manual,316,235000.0,235000,Diesel
1,92800.0,Volkswagen,Golf,Gasoline,Manual,Golf,92800.0,92800,Gasoline
2,149300.0,SEAT,Exeo,Gasoline,Manual,Exeo,149300.0,149300,Gasoline
3,96200.0,Renault,Megane,Gasoline,Manual,Megane,96200.0,96200,Gasoline
4,156000.0,Peugeot,308,Gasoline,Manual,308,156000.0,156000,Gasoline
...,...,...,...,...,...,...,...,...,...
46394,10.0,Citroen,C1,Gasoline,Manual,C1,10.0,10,Gasoline
46396,99.0,Fiat,500,Electric/Gasoline,Manual,500,99.0,99,Electric/Gasoline
46397,550.0,Fiat,500,Electric/Gasoline,Manual,500,550.0,550,Electric/Gasoline
46398,837.0,Fiat,Panda,Electric/Gasoline,Manual,Panda,837.0,837,Electric/Gasoline
46399,1500.0,Skoda,Fabia,Gasoline,Manual,Fabia,1500.0,1500,Gasoline

In [43]:
data = hf.readDataset()
#We check if we have both unkonwn values in make and model, because they'd be useless for us
sameMakeAndModel = data['make'] == data['model']
print(sameMakeAndModel)
sameMakeAndModel[sameMakeAndModel.astype(str).str.contains('True') ]

0        False
1        False
2        False
3        False
4        False
         ...
46400    False
46401    False
46402    False
46403    False
46404    False
Length: 46405, dtype: bool

Series([], dtype: bool)